* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #10214e;
}

article {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  justify-content: flex-start;
  border-radius: 1rem;
  background: rgb(189, 212, 233);
  box-shadow: 0 0 20px 20px rgba(226, 169, 12, 0.1);
  transition: 0.25s;
}

/* profile */

.profile h1 {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: black;
}

.profile {
  margin: 2em;
}
.profile-content {
  margin: 4em;
}
.profile-info-section {
  height: 200px;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
  background-color: rgb(162, 255, 160);
}
.profile-skills-section {
  height: 200px;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
  background-color: rgb(255, 231, 201);
}

.profile-animation-section {
  height: 200px;
  text-align: left;
  padding-left: 1em;
  padding-top: 1em;
  background-color: rgb(240, 195, 246);
}

.profile-button {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

.button-page {
  width: 50px;
  height: 50px;
  padding: 10px 40px 10px 40px;
  background-color: rgb(194, 241, 255);
  border: 5px solid rgb(150, 241, 255);
  margin: 10px;
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  font-size: 3em;
  color: black;
}

p {
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}

button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  background: rgba(0, 239, 255, 1);
  transform: scale(0.8);
  transition: 0.25s;
}
button:focus {
  outline: none;
  background: #202592;
}
button:focus svg {
  stroke: rgba(0, 239, 255, 1);
}

svg {
  position: absolute;
  top: calc(1.25rem - 12px);
  left: calc(1.25rem - 12px);
  stroke: #4e54c8;
  transition-delay: 0.25s;
}
button svg:nth-of-type(2) {
  opacity: 0;
  transition-delay: 0ms;
}

img {
  position: relative;
  top: 2rem;
  width: 10em;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

p {
  margin-top: 10;
}

article > p {
  width: 100%;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

/* expand content */

body.expand article {
  width: 100%;
  max-width: 60vw;
}

